$color_titles: gold;
$color_paragraphs: coral;
$color_background: lightblue;

body {
  background-color: $color_background;
}

h2 {
  color: $color_titles;
}

h3 {
  color: $color_titles;
}

p {
  color: $color_paragraphs;
}
